html, body {
  height: 100%;
  margin: 0;
}

.sidenav-container {
  height: 100vh;
  display: flex;
}

.toolbar-title {
  font-size: 18px;
  font-weight: bold;
}

.flex-spacer {
  flex: 1 1 auto; /* Hace que el logout se empuje a la derecha */
}
